<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Create Movie</title>
</head>
<body layout:fragment="body">
<section>
    <div class="offset-4 col-4 mt-3">

        <form role="form" method="post" th:action="@{/movies/create}" th:object="${movie}">
            <div class="form-group mb-3">
                <label class="control-label">Name</label>
                <input th:field="*{name}" type="text" class="form-control" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Description</label>
                <input th:field="*{description}" type="text" class="form-control" />
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Image Url</label>
                <input th:field="*{imageUrl}" type="text" class="form-control" />
            </div>
            <select th:field="*{genreId}" class="form-control mb-3">
                <option th:each="genre : ${movie.genres}"
                        th:value="${genre.id}"
                        th:text="${genre.Name}"></option>
            </select>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>

    </div>
</section>
</body>
</html>